*.aux
*.bbl
*.blg
*.out
*.toc
*.pdf
*.ilg
*.ind
*.idx
*.log
*.mpx
*.synctex.gz
skript/chapters/images/path*.mp
skript/chapters/images/cube
skript/chapters/images/cube.mp
skript/chapters/images/harvest
skript/chapters/images/harvest.mp
**/*.[0-9]
**/*.[0-9][0-9]
**/skript-blx.bib
**/skript.run.xml
**/mptextmp.mp
*.dat
*.swp
#*.png

skript/kreis/besselfunction.png
!skript/chapters/substitute.png
