*.aux
*.bbl
*.blg
*.out
*.toc
*.pdf
*.ilg
*.ind
*.idx
*.log
*.mpx
*.synctex.gz
**/*.[0-9]
**/*.[0-9][0-9]
**/skript-blx.bib
**/skript.run.xml
**/mptextmp.mp

!.gitignore
!/skript/trafo/images/BIL_VoltageTrans.pdf
!/skript/trafo/images/orig_trafo.pdf
!/skript/trafo/images/Trafo_Modell.pdf
!/skript/trafo/images/VoltageTrans.pdf
!/skript/trafo/images/VoltageTrans_bubble_turn6_10u_9u.pdf
!/skript/trafo/images/differenceTimestep.pdf
!/skript/trafo/images/differenceOptimization.pdf