*.aux
*.bbl
*.blg
*.out
*.toc
*.pdf
*.ilg
*.ind
*.idx
*.log
*.mpx
*.synctex.gz
skript/chapters/images/path*.mp
**/*.[0-9]
**/*.[0-9][0-9]
**/skript-blx.bib
**/skript.run.xml
**/mptextmp.mp
*.dat
*.swp
